<%- include('../partials/header') %> 
    <% if (user) { %> 
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Spent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(b => { %>
                <% if (user && user._id.equals(b.userId) && b.archived === true) { %> 
                <tr>
                    <td><a href="/budgets/<%= b._id %>"><%= b.name %></a></td>
                    <td><a href="/budgets/<%= b._id %>" style="<%= b.spent > b.budget ? 'color:red' : 'color:green' %>">$<%= b.spent %></a></td>
                    <td>
                        <form action="/budgets/<%= b._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                    <td>
                        <form action="/budgets/<%= b._id %>/unarchive?_method=PUT" method="POST">
                            <button type="submit">Unarchive</button>
                        </form>
                    </td>
                </tr>
                <% } %> 
            <% }) %> 
        </tbody>
    </table>

    <!-- Nav Bar on bottom of page -->
    <div class="navbar">
        <a href="/budgets">All</a>
    </div>
    <% } %> 
<%- include('../partials/footer') %> 