<%- include('../partials/header') %> 

        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/budgets/<%= budget._id %>">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %> 
            
    </nav>
    <main id="main">
        <% if (user) { %>
        <h1> <%= title %></h1>
        <% } %>

    <!-- End of "header" partial -->

    <% if (user) { %> 
        <% if (user && user._id.equals(budget.userId)) { %> 
            <form id="edit-budget" action="/budgets/<%= budget._id %>?_method=PUT" method="POST">
                <label>Name</label>
                <input class="name" type="text" name="name" value="<%= budget.name %>">
                </br>
                <label>Budget $</label>
                <input class="budget" type="number" name="budget" value="<%= budget.budget %>">
                </br>
                <input type="submit" value="Update Budget">
            </form>

            <!-- Nav Bar on bottom of page -->
            <!-- <div class="navbar">
                <a href="/budgets/<%= budget._id %>">Back</a>
                <a href="/budgets">All</a>
                <a href="/budgets/archived">Archived</a>
            </div> -->
        <% } %> 
    <% } %> 
<%- include('../partials/footer') %> 