<%- include('../partials/header') %> 
    <% if (user) { %> 
    <a href="/budgets/new" id="new-budget">NEW BUDGET</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Spent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(b => { %>
                <% if (user && user._id.equals(b.userId)) { %> 
                <tr>
                    <td><a href="/budgets/<%= b._id %>"><%= b.name %></a></td>
                    <td><a href="/budgets/<%= b._id %>" style="<%= b.spent > b.budget ? 'color:red' : 'color:green' %>"><%= b.spent %></a></td>
                    <td>
                        <form action="/budgets/<%= b._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
                <% } %> 
            <% }) %> 
        </tbody>
    </table>
    <% } %> 
<%- include('../partials/footer') %> 