<%- include('../partials/header') %> 

        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/budgets/archived">Archived Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %> 
            
    </nav>
    <main id="main">
    <div class="head">
        <% if (user) { %>
        <h1> <%= title %></h1>
        <% } %>


    <% if (user) { %> 
        <button type="button" class="btn btn-primary btn-sm" id="new-budget-button"><a id="new-budget-link" href="/budgets/new">New Budget</a></button>
    
    </div>

    <table class="table">
        <thead>
            <tr class="index-table">
                <th class="table-header">Name</th>
                <th class="table-header">Spent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(b => { %>
                <% if (user && user._id.equals(b.userId) && b.archived === false) { %> 
                <tr class="index-table">
                    <td><a href="/budgets/<%= b._id %>"><span class="index-items"><%= b.name %></span></a></td>
                    <td><a href="/budgets/<%= b._id %>" style="<%= b.spent > b.budget ? 'color:rgb(219 63 74)' : 'color:green' %>"><span class="index-items">$<%= b.spent %></span></a></td>
                    <td>
                        <form action="/budgets/<%= b._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-outline-danger btn-sm">X</button>
                        </form>
                    </td>
                    <td>
                        <form action="/budgets/<%= b._id %>/archived?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Archive</button>
                        </form>
                    </td>
                </tr>
                <% } %> 
            <% }) %> 
        </tbody>
    </table>

    <!-- Nav Bar on bottom of page -->
    <!-- <div class="navbar">
        <a href="/budgets/archived">Archived</a>
    </div> -->
    <% } %> 
<%- include('../partials/footer') %> 