<%- include('../partials/header') %> 
    <% if (user) { %> 
    <a href="/budgets/new" id="new-budget">NEW BUDGET</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Budget</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(b => { %>
                <tr>
                    <td><%= b.name %></td>
                    <td><%= b.budget %> </td>
                    <td><a href="/budgets/<%= b._id %>">view</a></td>
                </tr>

            <% }) %> 
        </tbody>
    </table>
    <% } %> 
<%- include('../partials/footer') %> 