<%- include('../partials/header') %> 
    <!-- If user is logged in, display nav bar -->
    <% if (user) { %>
        <!-- Archived Budgets Link -->
        <li class="nav-item">
            <a class="nav-link" href="/budgets/archived">Archived Budgets</a>
        </li>

        <!-- Log Out Link -->
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    
    <!-- else, redirect to home page -->
    <% } else { %>
    </nav>
        <button type="button" class="btn btn-outline-primary" id="login-button">
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"/></a>
        </button>
    <% } %> 
    </nav>
    
    <main id="main">
        <% if (user) { %>
            <!-- Current Budgets -->
            <h1 class="current-budgets-header"> <%= title %></h1>
        <% } %>

        <% if (user) { %> 
            <!-- New Budget Button -->
            <button type="button" class="btn btn-primary btn-sm current-budgets-header" id="new-budget-button"><a id="new-budget-link" href="/budgets/new">New Budget</a></button>

            <!-- Table of Created Budgets -->
            <table class="table">
                <!-- Table Headers -->
                <thead>
                    <tr class="index-table">
                        <th class="table-header">Name</th>
                        <th class="table-header">Remaining</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <!-- Table Contents -->
                <tbody>
                    <!-- Loop Through All Budgets -->
                    <% budgets.forEach(b => { %>
                        <!-- Checking if Logged In User is User who Created Budgets, and Display Current Budgets -->
                        <% if (user && user._id.equals(b.userId) && b.archived === false) { %> 
                            <tr class="index-table">
                                <!-- Name -->
                                <td><a href="/budgets/<%= b._id %>"><span class="index-items"><%= b.name %></span></a></td>

                                <!-- Remaining Amount, Displayed as Red if Exceeded -->
                                <td><a href="/budgets/<%= b._id %>" style="<%= b.remaining < 0 ? 'color:rgb(219 63 74)' : 'color:rgb(36	157	60)' %>"><span class="index-items">$<%= b.remaining %></span></a></td>
                                
                                <!-- Delete Button -->
                                <td>
                                    <form action="/budgets/<%= b._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-outline-danger btn-sm">X</button>
                                    </form>
                                </td>

                                <!-- Archive Button -->
                                <td>
                                    <form action="/budgets/<%= b._id %>/archived?_method=PUT" method="POST">
                                        <button type="submit" class="btn btn-outline-secondary btn-sm">Archive</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %> 
                    <% }) %> 
                </tbody>
            </table>
        <% } %> 
<%- include('../partials/footer') %> 