<%- include('../partials/header') %> 
    <% if (user) { %>
        <section id="show-page">
            <div><%= budget.name %> </div>
            <div>$<%= budget.spent %> spent</div>
            <div>$<%= remaining %> remaining</div>
        </section>

        <!-- Nav Bar on bottom of page -->
        <div class="navbar">
            <a href="/budgets">All</a>
        </div>

    <% } %>

<%- include('../partials/footer') %>  