<%- include('../partials/header') %> 
    <% if (user && user._id.equals(budget.userId)) { %>
        <section id="show-page">
            <div><span style="<%= budget.spent > budget.budget ? 'color:red' : 'color:black'%>">$<%= budget.spent %></span> spent</div>
            <div><span style="<%= budget.remaining > 0 ? 'color:green' : 'color:red' %>">$<%= budget.remaining %></span> of $<%= budget.budget %> remaining</div>
            <a href="/budgets/<%= budget._id %>/edit">update</a>
        </section>

        </br>
        <h2>Entries</h2>
            <form id="add-entry-form" action="/budgets/<%= budget._id %>/entries" method="POST">
                <input type="Number" name="amount" placeholder="Enter Amount">
                <input type="date" name="date">
                <input type="text" name="description" placeholder="Enter Description">
                <input type="submit" value="Add Entry">
            </form>
        </br>
            <% if (budget.entries.length) { %> 
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
            

                <tbody>
                    <% budget.entries.forEach(e => { %>
                        <tr>
                            <td><a href="/entries/<%= e._id %>/edit">$<%= e.amount %></a></td>
                            <td><a href="/entries/<%= e._id %>/edit"><%= e.date.toISOString().slice(5, 10) %></a></td>
                            <td><a href="/entries/<%= e._id %>/edit"><%= e.description %></a></td>
                            <td>
                                <form action="/entries/<%= e._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %> 
                </tbody>
            </table>
            <% } else { %> 
                <h5>No Entries Yet</h5>
            <% } %> 
        <!-- Nav Bar on bottom of page -->
        <div class="navbar">
            <a href="/budgets">All</a>
        </div>

    <% } %>

<%- include('../partials/footer') %>  