<%- include('../partials/header') %> 
    <% if (user && user._id.equals(budget.userId)) { %>
        <section id="show-page">
            <a href="/budgets/<%= budget._id %>/edit">update</a>
            <div>$<%= budget.spent %> spent</div>
            <div>$<%= budget.remaining %> remaining</div>
        </section>

        </br>
        <h2>Entries</h2>
            <form id="add-entry-form" action="/budgets/<%= budget._id %>/entries" method="POST">
                <label>Amount:</label>
                <input type="Number" name="amount">
                </br>
                <label>Date:</label>
                <input type="date" name="date">
                </br>
                <label>Description:</label>
                <input type="text" name="description">
                </br>
                <input type="submit" value="Add Entry">
            </form>
        </br>
            <% if (budget.entries.length) { %> 
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>

            <tbody>
                <% budget.entries.forEach(e => { %>
                    <tr>
                        <td><%= e.amount %></td>
                        <td><%= e.date.toLocaleDateString() %></td>
                        <td><%= e.description %></td>
                        </br>
                    </tr>
                <% }); %> 
            </tbody>
            <% } else { %> 
                <h5>No Entries Yet</h5>
            <% } %> 
        <!-- Nav Bar on bottom of page -->
        <div class="navbar">
            <a href="/budgets">All</a>
        </div>

    <% } %>

<%- include('../partials/footer') %>  